# DB
POSTGRES_DB=your_POSTGRES_DB
POSTGRES_DB_PORT=your_POSTGRES_DB_PORT
POSTGRES_USER=your_POSTGRES_USER
POSTGRES_PASSWORD=your_POSTGRES_PASSWORD
POSTGRES_HOST=your_POSTGRES_HOST
# Django
SECRET_KEY=your_secret_key_here
DJANGO_SETTINGS_MODULE=train_reservation_api.settings.production
