# Django
SECRET_KEY=your_secret_key_here
DJANGO_SETTINGS_MODULE=train_reservation_api.settings.production
# DB
RENDER_EXTERNAL_HOSTNAME=it-task-manager-ef6y.onrender.com
DATABASE_URL=your_POSTGRES_DB_URL
